@font-face {
    font-family: 'BasierCircle';
    src: url('../../assets/Fonts/Basier/BasierCircle-Regular.ttf') format('truetype'); /* adjust the font file path and format */
    font-weight: normal;
    font-style: normal;
  }
.players-container{
    height:100vh;
    /* width:55%; */
    /* border:1px solid white; */
    /* background-color: black; */
    display:flex;
    justify-content: center;
    align-items: center;
}
.menubar-container{
  position:absolute;
  top:10px;
  left:10px;
}
.item-container{
    height:80vh;
    width:50%;
    /* border:1px solid white; */
    display: flex;
    flex-direction: column;
}
.top-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* border:1px solid white; */
}
.text{
  font-family:"Basier Circle",sans-serif ;
  color:white;
  font-weight:700 ;
  font-size: 25px;
  line-height: 36px;
  text-transform: capitalize;
}
.subtitle-text{
    font-family:"Basier Circle",sans-serif ;
    color:white;
    font-weight:300 ;
  font-size: 12px;
  line-height: 18px;
  text-transform: capitalize;
  opacity: 60%;

}
.body-container{
    display: flex;
    flex-grow: 4;
    margin-top:15px;
    /* border:1px solid white; */
    
}
.bottom-container{
    display: flex;
    flex-grow: 3;
    /* border:1px solid white; */
}

@media only screen and (max-width: 870px) {
  .item-container{
    width:80%;
  }
  .text{
    font-size: 20px;
  }

  }

  @media only screen and (min-width: 870px) {
    .menubar-container{
      display: none;
    }
    
  
    }